## Deliverable 3. Create a Travel Itinerary Map.

In [151]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [152]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Avarua,CK,78.80,light rain,-21.21,-159.78,Paradise Inn
1,14,Victoria,HK,82.40,scattered clouds,22.29,114.16,Mini Hotel Central
2,15,Santiago Tuxtla,MX,75.22,moderate rain,18.47,-95.30,OYO Hotel Santiago Plaza
3,17,Atuona,PF,78.94,clear sky,-9.80,-139.03,Villa Enata
4,18,Phan Thiet,VN,88.12,scattered clouds,10.93,108.10,Hotel Saigon-PT

In [153]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [155]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [137]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["Max Temp"] >= 78) & (vacation_df["Max Temp"] <= 79) &
                                 (vacation_df["Country"] == "IN") & (vacation_df["Current Description"] == "mist")]

vacation_stop1 = vacation_df.loc[(vacation_df["Max Temp"] > 81) & (vacation_df["Max Temp"] < 82) &
                                 (vacation_df["Country"] == "IN")]

vacation_stop2 = vacation_df.loc[(vacation_df["Max Temp"] > 88) & (vacation_df["Max Temp"] < 88.5) &
                                 (vacation_df["Country"] == "IN")] 

vacation_stop3 = vacation_df.loc[(vacation_df["Max Temp"] > 88.5) & (vacation_df["Max Temp"] < 89) &
                                 (vacation_df["Country"] == "IN")]

In [138]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = end = (vacation_start.to_numpy()[0][5], vacation_start.to_numpy()[0][6])
stop1 = (vacation_stop1.to_numpy()[0][5], vacation_stop1.to_numpy()[0][6])
stop2 = (vacation_stop2.to_numpy()[0][5], vacation_stop2.to_numpy()[0][6])
stop3 = (vacation_stop3.to_numpy()[0][5], vacation_stop3.to_numpy()[0][6])

In [130]:
import gmaps
import gmaps.datasets

In [139]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
start2end = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3],
                                      travel_mode='DRIVING')
fig.add_layer(start2end )
fig

Figure(layout=FigureLayout(height='420px'))

In [146]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,449,Nileshwar,IN,78.80,mist,12.25,75.10,Neeleshwar Hermitage
1,401,Tura,IN,81.54,moderate rain,25.52,90.22,Hotel RIKMAN Continental
2,601,Anandnagar,IN,88.21,light rain,27.10,83.28,Hajrat
3,579,Dhandhuka,IN,88.63,broken clouds,22.37,71.98,Amin Auto

In [147]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [148]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))